[access]
	inheritFrom = All-Projects
[project]
	description = This project is archived and read-only as on 2018-08-10.\n\nhttps://lists.opendaylight.org/pipermail/tsc/2018-August/010058.html
	state = read only
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-yangide-committers
	owner = group saml/odl-gerrit-yangide-committers
	read = group GitHub Replication
